@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 800px;
  margin: 0;
  background-color: #6dd4e7;
  position: relative;
  overflow: hidden;
}
.sky {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sky .rocket-container {
  height: 100%;
  position: relative;
}
.sky .rocket-container .rocket {
  height: 600px;
  width: 250px;
  background: transparent;
  top: 10%;
  position: relative;
  margin: 0 auto;
  -webkit-transition: top 2s ease-in 0s;
  transition: top 2s ease-in 0s;
}
.sky .rocket-container .rocket:after,
.sky .rocket-container .rocket:before {
  width: 3px;
  height: 100%;
  content: "";
  position: absolute;
  bottom: -80%;
  z-index: -5;
  background: #4d4d4d;
}
.sky .rocket-container .rocket:after {
  right: 0;
  left: initial;
}
.sky .rocket-container .rocket .rocket-top {
  z-index: 2;
  height: 240px;
  width: 240px;
  position: absolute;
  display: block;
  margin: 0 auto;
  margin-bottom: -75px;
  overflow: hidden;
  border-radius: 50%;
  top: -166px;
  left: 5px;
}
.sky .rocket-container .rocket .rocket-top:after {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
  display: block;
  position: absolute;
  bottom: -75%;
  background: -webkit-linear-gradient(-45deg, tomato, #e02200);
  box-shadow: 0 0 1px 1px #b3b3b3;
}
.sky .rocket-container .rocket .rocket-body {
  width: 100%;
  height: 400px;
  background: -webkit-linear-gradient(-45deg, whitesmoke, #cfcfcf);
  margin: 0 auto;
  z-index: 0;
  border-radius: 50%;
  z-index: 1;
  box-shadow: -1px 0 2px 0 #b3b3b3;
  cursor: pointer;
}
.sky .rocket-container .rocket .rocket-body:before,
.sky .rocket-container .rocket .rocket-body:after {
  content: "";
  width: 65px;
  height: 150px;
  background: -webkit-linear-gradient(-45deg, tomato, #e02200);
  bottom: 20%;
  position: absolute;
  z-index: -1;
}
.sky .rocket-container .rocket .rocket-body:before {
  left: -30px;
  -webkit-transform: skewY(-45deg) rotateZ(10deg);
          transform: skewY(-45deg) rotateZ(10deg);
  box-shadow: -1px -1px 2px 0 #b3b3b3;
}
.sky .rocket-container .rocket .rocket-body:after {
  right: -30px;
  -webkit-transform: skewY(45deg) rotateZ(-10deg);
          transform: skewY(45deg) rotateZ(-10deg);
  box-shadow: -1px 0px 2px 0 #b3b3b3;
}
.sky .rocket-container .rocket .rocket-body .window {
  background: grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: calc(50% - 75px);
  top: 20%;
  position: absolute;
  box-shadow: 0 0 4px 3px grey inset;
}
.sky .rocket-container .rocket .rocket-body .window:hover:after {
  -webkit-transform: perspective(500) rotateY(85deg);
          transform: perspective(500) rotateY(85deg);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition: -webkit-transform 500ms ease-out 0s;
  transition: -webkit-transform 500ms ease-out 0s;
  transition: transform 500ms ease-out 0s;
  transition: transform 500ms ease-out 0s, -webkit-transform 500ms ease-out 0s;
}
.sky .rocket-container .rocket .rocket-body .window .profile-picture {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.sky .rocket-container .rocket .rocket-body .window:after {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  border: 5px solid whitesmoke;
  box-shadow: 0 0 3px 1px grey;
  -webkit-transform: perspective(1000) rotateY(0);
          transform: perspective(1000) rotateY(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition: -webkit-transform 500ms ease-out 0s;
  transition: -webkit-transform 500ms ease-out 0s;
  transition: transform 500ms ease-out 0s;
  transition: transform 500ms ease-out 0s, -webkit-transform 500ms ease-out 0s;
}
.sky .rocket-container .rocket .rocket-bottom {
  background: -webkit-linear-gradient(-45deg, tomato, #e02200);
  width: 100px;
  height: 30px;
  margin: 0 auto;
  margin-top: -16px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 1px 1px 0 #b3b3b3;
}
.sky .rocket-container .rocket .rocket-bottom .rocket-burner {
  height: 50px;
  width: 50px;
  bottom: -30px;
  margin-left: 10px;
  position: relative;
  -webkit-animation-name: flicker;
          animation-name: flicker;
  -webkit-animation-duration: 3ms;
          animation-duration: 3ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  z-index: -2;
}
.sky .rocket-container .rocket .rocket-bottom .rocket-burner .flame {
  left: 0;
  position: absolute;
  z-index: 0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform: rotate(135deg) scale(1.5, 1.5);
          transform: rotate(135deg) scale(1.5, 1.5);
}
.sky .rocket-container .rocket .rocket-bottom .rocket-burner .flame.red {
  left: 5px;
  width: 70px;
  height: 70px;
  background: tomato;
  box-shadow: 0px 0px 5px 4px tomato;
}
.sky .rocket-container .rocket .rocket-bottom .rocket-burner .flame.orange {
  left: 15px;
  width: 50px;
  height: 50px;
  background: orange;
  box-shadow: 0px 0px 9px 4px orange;
}
.sky .rocket-container .rocket .rocket-bottom .rocket-burner .flame.white {
  left: 25px;
  width: 30px;
  height: 30px;
  background: white;
  box-shadow: 0px 0px 9px 4px white;
}
.sky .lift-off {
  -webkit-animation: shake 2s linear 1;
          animation: shake 2s linear 1;
}
.sky .lift-off ~ .details {
  -webkit-animation: shake 2s linear 1;
          animation: shake 2s linear 1;
}
.sky .lift-off .rocket-burner {
  -webkit-animation-name: immenseFlicker !important;
          animation-name: immenseFlicker !important;
}
.sky.show-details .rocket {
  top: -50%;
  -webkit-transition: top 2s ease-in 0s;
  transition: top 2s ease-in 0s;
}
.sky.show-details .details {
  -webkit-transform: translate(0, -130%);
          transform: translate(0, -130%);
  -webkit-transition: -webkit-transform 2s ease-in 0s;
  transition: -webkit-transform 2s ease-in 0s;
  transition: transform 2s ease-in 0s;
  transition: transform 2s ease-in 0s, -webkit-transform 2s ease-in 0s;
}
.sky.show-details .details .close {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in 0s;
  transition: opacity 2s ease-in 0s;
}
.details {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  width: 50%;
  height: 50%;
  background: #f2f2f2;
  border-radius: 5px;
  bottom: calc(-50% + 59px);
  left: 25%;
  box-shadow: 0 0 3px 1px #b3b3b3;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 2s ease-in 0s;
  transition: -webkit-transform 2s ease-in 0s;
  transition: transform 2s ease-in 0s;
  transition: transform 2s ease-in 0s, -webkit-transform 2s ease-in 0s;
}
.details .close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: grey;
  padding: 10px 20px;
  text-align: right;
  opacity: 0;
  z-index: 5;
  -webkit-transition: opacity 1s ease-in 0;
  transition: opacity 1s ease-in 0;
}
.details .title {
  width: 95%;
  height: 60px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid grey;
  padding: 10px;
  font-weight: 400;
  font-family: 'Pacifico', cursive;
  color: #4d4d4d;
}
.details .about-me {
  padding: 0 3%;
  margin-bottom: 10px;
  overflow: auto;
  height: 70%;
}
.details .social-container {
  bottom: 0;
  position: absolute;
  height: 80px;
  width: 100%;
  text-align: center;
  background: #f2f2f2;
  padding: 10px;
}
.details .social-container a {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: #f2f2f2;
  background: #343434;
  border-radius: 50%;
  padding: 10px;
  text-decoration: none;
  margin: 5px 2%;
  box-shadow: 0 0 1px 1px #5c5b5b inset;
  border: 1px solid #343434;
}
.details .social-container a:hover {
  background: -webkit-linear-gradient(-45deg, tomato, #e02200);
  box-shadow: 0 0 1px 1px #5c5b5b inset;
  border: 1px solid -webkit-linear-gradient(-45deg, tomato, #e02200);
}
.instructions {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  background: #f7f7f7;
  border-radius: 5px;
  top: 20px;
  left: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 0 3px 1px #b3b3b3;
}
.clouds {
  z-index: -100;
}
.clouds .cloud {
  width: 200px;
  height: 75px;
  background: -webkit-linear-gradient(top, white 5%, whitesmoke 100%);
  border-radius: 70px;
  position: absolute;
  top: 150px;
  left: 150px;
  -webkit-animation-name: movingClouds;
          animation-name: movingClouds;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.clouds .cloud:before,
.clouds .cloud:after {
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
}
.clouds .cloud:before {
  width: 70px;
  height: 70px;
  top: -35px;
  left: 20px;
  border-radius: 50%;
}
.clouds .cloud:after {
  width: 100px;
  height: 100px;
  top: -55px;
  right: 20px;
  border-radius: 50%;
}
@-webkit-keyframes flicker {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  60% {
    -webkit-transform: rotate(1deg) scaleY(1.04);
            transform: rotate(1deg) scaleY(1.04);
  }
  80% {
    -webkit-transform: rotate(-2deg) scaleY(0.92);
            transform: rotate(-2deg) scaleY(0.92);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}
@keyframes flicker {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  60% {
    -webkit-transform: rotate(1deg) scaleY(1.04);
            transform: rotate(1deg) scaleY(1.04);
  }
  80% {
    -webkit-transform: rotate(-2deg) scaleY(0.92);
            transform: rotate(-2deg) scaleY(0.92);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}
@-webkit-keyframes immenseFlicker {
  0% {
    -webkit-transform: rotate(-1deg) scaleY(1.02);
            transform: rotate(-1deg) scaleY(1.02);
  }
  20% {
    -webkit-transform: rotate(1deg) scaleY(1.54);
            transform: rotate(1deg) scaleY(1.54);
  }
  40% {
    -webkit-transform: rotate(-1deg) scaleY(1.02);
            transform: rotate(-1deg) scaleY(1.02);
  }
  60% {
    -webkit-transform: rotate(1deg) scaleY(1.54);
            transform: rotate(1deg) scaleY(1.54);
  }
  80% {
    -webkit-transform: rotate(-2deg) scaleY(1.02);
            transform: rotate(-2deg) scaleY(1.02);
  }
  100% {
    -webkit-transform: rotate(1deg) scaleY(1.54);
            transform: rotate(1deg) scaleY(1.54);
  }
}
@keyframes immenseFlicker {
  0% {
    -webkit-transform: rotate(-1deg) scaleY(1.02);
            transform: rotate(-1deg) scaleY(1.02);
  }
  20% {
    -webkit-transform: rotate(1deg) scaleY(1.54);
            transform: rotate(1deg) scaleY(1.54);
  }
  40% {
    -webkit-transform: rotate(-1deg) scaleY(1.02);
            transform: rotate(-1deg) scaleY(1.02);
  }
  60% {
    -webkit-transform: rotate(1deg) scaleY(1.54);
            transform: rotate(1deg) scaleY(1.54);
  }
  80% {
    -webkit-transform: rotate(-2deg) scaleY(1.02);
            transform: rotate(-2deg) scaleY(1.02);
  }
  100% {
    -webkit-transform: rotate(1deg) scaleY(1.54);
            transform: rotate(1deg) scaleY(1.54);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  5% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  10% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  15% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  20% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  25% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  30% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  35% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  45% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  55% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  65% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  70% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  75% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  80% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  85% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  90% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  95% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  100% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  5% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  10% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  15% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  20% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  25% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  30% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  35% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  45% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  55% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  65% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  70% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  75% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  80% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  85% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  90% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  95% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  100% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
}
@-webkit-keyframes movingClouds {
  from {
    margin-top: -80%;
  }
  to {
    margin-top: 80%;
  }
}
@keyframes movingClouds {
  from {
    margin-top: -80%;
  }
  to {
    margin-top: 80%;
  }
}
